[Unit]
Description=Gort service
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=ec2-user
WorkingDirectory=/home/ec2-user/git/gort
ExecStartPre=/usr/bin/git pull
ExecStartPre=/home/ec2-user/.local/bin/pipenv install
ExecStart=/home/ec2-user/.local/bin/pipenv run bot

[Install]
WantedBy=multi-user.target
