[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twitchio = "*"
openai = "*"
boto3 = "*"

[dev-packages]
pylint = "*"

[scripts]
bot = "python3 ./bot.py"
battle = "python3 ./battle.py"
