[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twitchio = {git = "https://github.com/TwitchIO/TwitchIO.git", editable = true}
openai = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.9"
